<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-fakum</string>
	<key>connections</key>
	<dict>
		<key>305FB681-8DA9-4F6C-9C38-1B3880FDD6BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4665F575-371B-44C6-BDA4-732AF54E382A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste to frontmost application</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>03F09777-FA2A-45F3-A8A8-49AA079FFC61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>02889F0D-B10C-46F5-8F31-B7033B55CF01</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>53CFB8D5-1D80-415A-8340-D1FDCBFCCD36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83025411-F0C4-44CC-8A83-F0711AC3B74D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>83025411-F0C4-44CC-8A83-F0711AC3B74D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FB80B45-B960-401C-8E6D-F605734CF47A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Generate Fake Data</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fakum</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4665F575-371B-44C6-BDA4-732AF54E382A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>03F09777-FA2A-45F3-A8A8-49AA079FFC61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fake</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Faking up some stuff…</string>
				<key>script</key>
				<string>/usr/bin/python fakum.py "{query}"</string>
				<key>subtext</key>
				<string>Fake data for testing</string>
				<key>title</key>
				<string>Generate Fake Data</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>305FB681-8DA9-4F6C-9C38-1B3880FDD6BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>02889F0D-B10C-46F5-8F31-B7033B55CF01</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python config.py --toggle "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83025411-F0C4-44CC-8A83-F0711AC3B74D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5FB80B45-B960-401C-8E6D-F605734CF47A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>fakeconfig</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading locales…</string>
				<key>script</key>
				<string>/usr/bin/python config.py "{query}"</string>
				<key>subtext</key>
				<string>Turn locales on/off</string>
				<key>title</key>
				<string>Configure Fakum Locales</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>53CFB8D5-1D80-415A-8340-D1FDCBFCCD36</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>02889F0D-B10C-46F5-8F31-B7033B55CF01</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>03F09777-FA2A-45F3-A8A8-49AA079FFC61</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>305FB681-8DA9-4F6C-9C38-1B3880FDD6BF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>4665F575-371B-44C6-BDA4-732AF54E382A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>53CFB8D5-1D80-415A-8340-D1FDCBFCCD36</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>5FB80B45-B960-401C-8E6D-F605734CF47A</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>83025411-F0C4-44CC-8A83-F0711AC3B74D</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
